<ion-view view-title="Database Sync" ng-init="activate()">
    <ion-content>
        <p class="padding">

            <div class="text-right" style="padding-right:1em;">
                Network type: {{networkType}}                
            </div>

            <div class="card">
                <div class="item item-divider">
                    Local Database status
                </div>
                <div class="item item-text-wrap">
                    <ul class="list">
                        <li class="item">
                            Record count : {{localCount}}
                        </li>
                        <li class="item">
                            <button class="button button-positive icon-left ion-home" data-ng-click="Clear()">
                                Clear Local Database
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="item item-divider">
                    Remote Database status
                </div>
                <div class="item item-text-wrap">
                    <ul class="list">
                        <li class="item">
                            Record count : {{remoteCount}}
                        </li>
                        <li class="item">
                            <button class="button button-positive icon-left ion-home" data-ng-click="Download()">
                                Download data
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </p>
    </ion-content>
</ion-view>