<ion-view view-title="Battery Status">
    <ion-content class="padding">
			<div class="card">
            <div class="item item-divider">
                Battery Status
            </div>
            <div class="item item-text-wrap">
                <ul class="list">
                    <li class="item">
                        Battery Level : {{vm.batteryLevel}} %
                    </li>
                    <li class="item">
                        Plugged In : {{vm.isPluggedIn}}
                    </li>
                    <li class="item">
                        Manufacturer: {{vm.manufacturer}}
                    </li>
                    <li class="item">
                        Model: {{vm.model}}
                    </li>
                    <li class="item">
                        Platform: {{vm.platform}}
                    </li>
                    <li class="item">
                        UUID: {{vm.uuid}}
                    </li>
                    <li class="item">
                        Network type: {{vm.networkType}}
                    </li>
                    <li class="item">
                        Is Online: {{vm.isOnline}}
                    </li>
                </ul>
            </div>
            <div class="item item-divider text-right">
                from <code>ngCordova</code>
            </div>
        </div>
    </ion-content>
</ion-view>