<ion-view view-title="Marina List">
    <ion-content class="padding">
        <h2>Welcome to the list</h2>
        <p class="padding">
            <ion-scroll class="available-scroller">
                <div class="card" collection-repeat="m in vm.vessellist" >
                        <div class="item item-divider">
                            {{m.vesselName }}
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">
                                <li class="item">
                                    Account: {{m.account }}
                                </li>
                                <li class="item">
                                    Vin: {{m.vin}}
                                </li>
                            </ul>
                        </div>
                    </div>
                <!--<div class="card" collection-repeat="m in vm.marinalist" >
                        <div class="item item-divider">
                            {{m.marinaName}}
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">
                                <li class="item">
                                    Profile Code: {{m.profileCode}}
                                </li>
                                <li class="item">
                                    Phone: {{m.phone}}
                                </li>
                            </ul>
                        </div>
                    </div>-->
            </ion-scroll>            
        </p>
    </ion-content>
</ion-view>